.button:focus
{
  border-color: hsl(0, 0%, 96%);
}

.drawer 
{
  background-color: rgba(255,255,255,0);
  border-bottom: 1px solid #eee;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  margin:0px;
  max-height:40px;
  overflow:hidden;
  transition: all 0.4s;
}

.drawer.drawerOpen 
{
  z-index: 200;
  color:#444;
  max-height:3000px;
  padding:10px 20px;
  margin: 10px -10px;
  transition: all 0.2s,max-height 4.8s;
}